#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../img/restaurant_inside.jpg');
    background-size: cover;
    background-position: 75%;
    color: white;
    text-align: center;;
}

.feature-icon {
    width: 6rem;
    height: 6rem;
    border-radius: .75rem;
  }